name: Build & Publish Docker Image

env:
  REGISTRY: git.rjm.ie
  IMAGE_NAME: ${{ github.repository }}

on:
  push:
    branches: ['main', 'master']
    paths:
      # We need to include everything then exclude the files we don't want to trigger the workflow
      - '**'
      - '!docs/**'
      - '!LICENSE.md'
      - '!README.md'
      - '!.prettierignore'
      - '!.prettierrc'
      - '!eslint.config.js'
      - '!.github/workflows/run-tests.yml'
      - '!.github/workflows/test-build.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=match,pattern=main
            type=raw,value=latest,enable={{is_default_branch}}
          flavor: |
            latest=auto

      - name: Fix Docker Issues
        run: |
          HOST_DOCKER_GID=996
          CURRENT_USER=$(whoami)
          if ! getent group $HOST_DOCKER_GID ; then
            sudo groupadd -o -g $HOST_DOCKER_GID docker_host_996
            echo "Created new group 'docker_host_996' with GID 996."
          else
            echo "Group with GID 996 already exists."
          fi
          sudo usermod -aG $HOST_DOCKER_GID $CURRENT_USER
          echo "Groups after modification:"
          id $CURRENT_USER

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
